.app-header {
  border-bottom: 1px solid #eee;
  height: 100px;
  padding: 30px;
  text-align: center;
}

.app-toolbar {
  margin-top: 20px;
  text-align: right;
}

.app-toolbar a {
  margin-left: 20px;
}

h1 {
  font-size: 25px !important;
  margin-top: 25px !important;
  margin-bottom: 0 !important;
}

td {
  vertical-align: middle !important;
}
