<h1>{{ title }}</h1>
<hr />
<div class="row">
  <div class="col-sm-6">

    <div *ngIf="!receipts">Loading...</div>

    <table *ngIf="receipts" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th class="text-right">Amount</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receipt of receipts">
          <td>
            {{ receipt.monthName }} {{ receipt.year }}
          </td>
          <td class="text-right">
            {{ receipt.amount }}
          </td>
          <td class="text-right">
            <a title="Download PDF"
                [href]="receipt.pdfUrl" target="_blank">Download</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-sm-6">

    <div *ngIf="!customer">Loading...</div>

    <div *ngIf="customer" class="panel panel-default">
      <div class="panel-heading">Company information</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input class="form-control" [(ngModel)]="customer.name" />
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Address line 1</label>
              <input class="form-control" [(ngModel)]="customer.address.line1" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Address line 2</label>
              <input class="form-control" [(ngModel)]="customer.address.line2" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="form-control" [(ngModel)]="customer.address.city" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control" [(ngModel)]="customer.address.state" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label">Zip</label>
              <input class="form-control" [(ngModel)]="customer.address.zip" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Country</label>
          <input class="form-control" [(ngModel)]="customer.address.country" />
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">VAT number</label>
              <input class="form-control" [(ngModel)]="customer.vat" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Extra info</label>
              <input class="form-control" [(ngModel)]="customer.extraInfo" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-primary" (click)="saveCustomer()">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
